.logo{
    width: 3rem;
}
.navbar{
display: flex;
justify-content:start;
list-style: none;
letter-spacing: 1px;
}
.navbar>li>a{
    margin-left: 40px;
    color: white;
    text-decoration: none;
}
.navbar>li>a:hover{
    color:pink;
}
.card{
    transition: transform 0.4s ease-in-out;
}
.card:hover{
    transform: scale(1.05);
}
.offcanvas-body>ul>li>a:hover{
    color: pink;
}
.btn{
    transition: transform 0.4s ease-in-out;
}
.btn:hover{
    transform: scale(1.05);
}
.img-mobile{
    background:url(images/students-studying-outdoors-stockcake.jpg) center/cover ;
    width: 96vw;
    height: 50%;
    margin:20px 0px 0px 1rem;
    border-radius: 10px;
}
@media only screen and (min-width: 550px) and (max-width: 800px) {
   .img-mobile{
    background:url(images/students-studying-outdoors-stockcake.jpg) center/cover ;
    width: 96vw;
    height: 70%;
    margin:20px 0px 0px 10px;
    border-radius: 10px;
   
} 
#campus{
    flex-wrap: wrap;
}
#cards{
    flex-wrap: wrap;
   margin-left: 2rem;
}
}
@media only screen and (min-width: 320px) and (max-width: 550px) {
   .img-mobile{
    background:url(images/students-studying-outdoors-stockcake.jpg) center/cover ;
    width: 96vw;
    height: 80%;
    margin:20px 0px 0px 7px;
    border-radius: 10px;
} 


#campus{
    flex-direction: column;
    justify-content:around;
}
#cards{
    flex-direction: column;
    justify-content:around;
}

}
@media only screen and (min-width: 791px) and  (max-width: 992px) {
   .img-mobile{
    background:url(images/students-studying-outdoors-stockcake.jpg) center/cover ;
    width: 95vw;
    height: 50%;
    margin:20px 0px 0px 1.2rem;
    border-radius: 10px;
    
    
}
    #cards{
        justify-content:start;
    }
#campus{
    justify-content: between;
}}
.campus{
    margin-right: 7rem;
}
input.error {
    border: 2px solid red;
}

.error-msg {
    font-size: 1rem;
}
.form-container {
            background: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0,0,0,0.1);
            max-width: 500px;
            margin: auto;
            margin-bottom: 20px;
        }
        
        .form-control.is-invalid {
            border-color: #dc3545;
            background-image: none; 
        }
        .invalid-feedback {
            font-size: 0.875em;
            color: #dc3545;
        }
      

